.o_sinergis_checkbox input:checked + label:after{
    background-color:#78FF00;
    border-radius:2px;
    }
    
.o_sinergis_checkbox input:not(:checked)+ label:after{
    background-color:#CACACA;
    border-radius:2px;
}

.o_sinergis_checkbox .custom-checkbox {
 text-align:center;   
}