<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.inherit.sale</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="10"/>
        <field name="inherit_id" ref="base.res_config_settings_view_form"/>
        <field name="arch" type="xml">
          <xpath expr="//div[hasclass('settings')]" position="inside">
            <div class="app_settings_block" data-string="Formations" string="Formations" data-key="training">
            <h2>Paramètres de formations</h2>
            <div class="row mt16 o_settings_container">
              <div class="o_setting_left_pane">
                <label for="training_booklet" string="Livret de formation: "/>
                <field name="training_booklet"/>
                <label for="diagnostic_initial" string="Diagnostic initial: "/>
                <field name="diagnostic_initial"/>
              </div>
            </div>
          </div>
          </xpath>
        </field>
    </record>

    <record id="action_training_config_settings" model="ir.actions.act_window">
      <field name="name">Paramètres</field>
      <field name="type">ir.actions.act_window</field>
      <field name="res_model">res.config.settings</field>
      <field name="view_id" ref="res_config_settings_view_form"/>
      <field name="view_mode">form</field>
      <field name="target">inline</field>
      <field name="context">{'module' : 'training'}</field>
    </record>

    <menuitem id="training_configuration_settings"
              parent="training_configuration_root"
              name="Paramètres"
              action="action_training_config_settings"
              sequence="50"/>

  </data>
</odoo>
