<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menu parent pour assigner les sous-menus -->
    <menuitem id="sinergis_mailchimp_settings_menu" name="Connecteur Mailchimp" parent="base.menu_custom"/>

    <!-- Tags -->

    <record id="sinergis_mailchimp_settings_company_tag_view_tree" model="ir.ui.view">
        <field name="name">sinergis_mailchimp.settings.company.tag.view.tree</field>
        <field name="model">sinergis_mailchimp.settings.company.tag</field>
        <field name="arch" type="xml">
            <tree string="Tag des sociétés">
                <field name="company_id"/>
                <field name="name"/>
            </tree>
        </field>
    </record>

    <record id="sinergis_mailchimp_settings_company_tag_action" model="ir.actions.act_window">
        <field name="name">Tag des sociétés</field>
        <field name="res_model">sinergis_mailchimp.settings.company.tag</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="sinergis_mailchimp_settings_company_tag_menu"
        action="sinergis_mailchimp_settings_company_tag_action"
        parent="sinergis_mailchimp.sinergis_mailchimp_settings_menu"
        sequence="1"/>

</odoo>
